Backup_2025-09-04lead Gen ( Galib Vhai ).json
{
  "createdAt": "2025-08-16T06:20:48.737Z",
  "updatedAt": "2025-08-17T19:34:57.000Z",
  "id": "fVYxe4CDFDWZVmMk",
  "name": "lead Gen ( Galib Vhai )",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        1200
      ],
      "id": "953e2e5c-0fab-4533-910a-ce995a8c8c84",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4930db88-59be-4fa2-8194-d680d859676e",
              "name": "agent id",
              "value": "7331719555133637",
              "type": "string"
            },
            {
              "id": "206f3702-9048-456c-905d-023000bc3b5b",
              "name": "X-Phantombuster-Key",
              "value": "azaBqTzxAzwSEWmXBzxiWLjepYKHpCLupzi5DPUZ3mQ",
              "type": "string"
            },
            {
              "id": "69b66d87-4322-49c1-8350-7fed7071b53f",
              "name": "fetch all data",
              "value": " https://api.phantombuster.com/api/v2/agents/fetch-output",
              "type": "string"
            },
            {
              "id": "5b84758d-571e-4153-a517-94892e2dc03a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        1200
      ],
      "id": "4b9205ac-ff39-47f5-a7ec-2420afa09ffb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e637d76-d150-43ec-bd16-8f3d290fcd88",
              "name": "jsonUrl",
              "value": "={{ $json[\"output\"].match(/JSON saved at (https:\\/\\/phantombuster\\.s3\\.amazonaws\\.com\\/[^\\s]+)/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1104
      ],
      "id": "76a52cdf-5416-404c-ba2d-444142657d10",
      "name": "extract S3 URL"
    },
    {
      "parameters": {
        "url": " https://api.phantombuster.com/api/v2/agents/fetch-output",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "7331719555133637"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key",
              "value": "azaBqTzxAzwSEWmXBzxiWLjepYKHpCLupzi5DPUZ3mQ"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1104
      ],
      "id": "f67a2743-fb5a-49e8-9358-4c61e3871d9c",
      "name": "get  linkdin data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d6b45a5-a5ca-4185-9901-d88dee7e29df",
              "name": "jsonUrl",
              "value": "={{ $json[\"output\"].match(/JSON saved at (https:\\/\\/phantombuster\\.s3\\.amazonaws\\.com\\/[^\\s]+)/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1264
      ],
      "id": "e96a876e-3f19-4d05-8a4d-66e9f2b2e89d",
      "name": "S3 url"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        1360
      ],
      "id": "321213e5-3ce1-46ee-aa9a-78b70686a181",
      "name": "launce google map agent",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key",
              "value": "={{ $json[\"X-Phantombuster-Key\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"560027695402004\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        1040
      ],
      "id": "8401b6d5-6c01-4972-9546-20b4920b52e8",
      "name": "launce linkdin  agent",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1104
      ],
      "id": "ae247af1-37e5-4586-9536-5f362f354c98",
      "name": "download linkdin data"
    },
    {
      "parameters": {
        "url": "={{ $json.jsonUrl }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "3079008997064632"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key",
              "value": "azaBqTzxAzwSEWmXBzxiWLjepYKHpCLupzi5DPUZ3mQ"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1264
      ],
      "id": "c8bd5b1f-b971-4c7f-86c5-6897c16f2d0c",
      "name": "download google map data"
    },
    {
      "parameters": {
        "url": " https://api.phantombuster.com/api/v2/agents/fetch-output",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "3079008997064632"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key ",
              "value": "={{ $json['X-Phantombuster-Key'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1280
      ],
      "id": "caa7d593-b890-48b1-9b3e-fc1dba9cb89e",
      "name": "get google maps data"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "={{ $json.company }}",
              "field2": "={{ $json.title }}"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        1360
      ],
      "id": "8b122fe2-ad84-4bd3-87ff-576d5169a727",
      "name": "Enrich Leads by Company"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        1872
      ],
      "id": "e2f8f2f1-875c-4863-9843-6efb1fa5d40f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        64,
        1632
      ],
      "id": "f5c13cf8-1fc5-4f75-b1d1-2d71ebc2ca0f",
      "name": "Limit1"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Analyze the following enriched lead and provide a score. If data from a source is missing, analyze based on the available information.\n\n**LinkedIn Data:**\nName: {{ $json.fullName }}\nHeadline: {{ $json.headline }}\nlocation:{{ $json.location }}\nDescription:{{ $json.description }}\nLinkdin profile:{{ $json.linkedinProfile }}\nEmail:{{ $json.email }}\nConnections:{{ $json.connectionsCount }}\nCompany name:{{ $json.company }}\nCompany Domain:{{ $json.companyDomainName }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert lead scoring analyst for a real estate business. Your task is to analyze enriched lead data from multiple platforms and provide an intelligent score based on the provided schema. Consider factors like job title, company reputation, location, and online presence.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        1648
      ],
      "id": "9015380f-830d-4438-a5e6-fc8615d7e4d1",
      "name": "Intelligent Lead Scoring"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Name\":\"...\",\n  \"overall_score\": 85,\n  \"decision_maker_score\": 90,\n  \"company_fit_score\": 80,\n  \"Email\":\"...\",\n  \"job titel\":\"...\",\n  \"company name\":\"...\"\n  \n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        1872
      ],
      "id": "775687ef-10c5-4db0-98f7-6e56af5c61d9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52c9a3fe-34bd-46fd-8e6c-af654ea8e926",
              "name": "overall_score",
              "value": "={{ $json.output.overall_score }}",
              "type": "number"
            },
            {
              "id": "ed6c094b-9c15-4875-a0e6-285d6fb94291",
              "name": "decision_maker_score",
              "value": "={{ $json.output.decision_maker_score }}",
              "type": "number"
            },
            {
              "id": "68eed90c-f809-46c3-9fd2-c9d247b865b5",
              "name": "company_fit_score",
              "value": "={{ $json.output.company_fit_score }}",
              "type": "number"
            },
            {
              "id": "955c73ee-90c8-4b5f-a60a-978abb0ababe",
              "name": "name",
              "value": "={{ $json.output.Name }}",
              "type": "string"
            },
            {
              "id": "f47f9378-3874-4fae-a6ac-efb5cdbdd89b",
              "name": "Email",
              "value": "={{ $json.output.Email }}",
              "type": "string"
            },
            {
              "id": "ef6ae58f-3d28-4824-ab8e-bd92eb92b176",
              "name": "company name",
              "value": "={{ $json.output['company name'] }}",
              "type": "string"
            },
            {
              "id": "e49b53d4-d445-41a5-9453-b585a1147111",
              "name": "job titel",
              "value": "={{ $json.output['job titel'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1648
      ],
      "id": "0df139a1-707a-4711-9589-9006ae5d4855",
      "name": "scored data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f18e89da-296a-41a3-83d8-dd1da6839c03",
              "leftValue": "={{ $json.overall_score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        864,
        1648
      ],
      "id": "03369048-99e2-47d3-b179-62cd87b4c729",
      "name": "Filter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        1888
      ],
      "id": "4517b97f-8666-41f5-9ad9-4b2656ca3511",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NSQH7jdDrTIGJRAn",
          "name": "Automation learner pro"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"write the subject here\",\n  \"message\":\"write the messasge here\"\n\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        1872
      ],
      "id": "00de1f70-84fb-4540-80f2-9248ab6bc78a",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53c150db-bc77-40f0-936f-316c455e2bf6",
              "name": "subject",
              "value": "={{ $json.output.subject }}",
              "type": "string"
            },
            {
              "id": "3b5b3e0a-8cc5-4f11-ab3f-e39f356ed57e",
              "name": "messasge",
              "value": "={{ $json.output.message }}",
              "type": "string"
            },
            {
              "id": "1486aca3-d90a-463d-b7c6-a09e02e065f4",
              "name": "email",
              "value": "={{ $('Filter').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1648
      ],
      "id": "6d2d1098-8b81-4d2c-8698-6369e48aec3a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "aditya.das.own@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.messasge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        1648
      ],
      "id": "c80478ff-395c-4866-8c4b-9e05d25f2a24",
      "name": "send intial email",
      "webhookId": "3ff8b9e5-fff7-4272-862b-1cd4bfb6e255",
      "credentials": {
        "gmailOAuth2": {
          "id": "Akfxp65UCevrEpLh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a personalized outreach email to the following lead.\n\n**Lead Information:**\nName: {{ $json.name }}\nJob Title: {{ $json['job titel'] }}\nCompany: {{ $json['company name'] }}\nEmail: {{ $json.Email }}\n\n\n**Instructions:**\n1. Address the lead by their first name.\n2. Briefly mention their specific role or company to show you've done your research.\n3. Reference something from the \"AI Score Reasoning\" to make the email unique (e.g., \"I was impressed by your company's high rating on Google Maps\" or \"Your extensive experience in the Dubai market is remarkable\").\n4. Keep the email concise (around 100-150 words).\n5. The goal is to start a conversation, not to sell immediately. End with a soft call-to-action, like \"Would you be open to a brief chat next week?\".\n6. Provide the output as a JSON object with two fields: \"subject\" and \"body\".\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert email copywriter specializing in personalized outreach for a real estate business. Your task is to write a short, professional, and highly personalized email to a potential lead. The email should feel authentic and not automated. Use the provided lead data to make the email relevant and engaging.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1520,
        1648
      ],
      "id": "26ed8a45-3618-46dd-b441-ecd0bda2bb94",
      "name": "personalised email sender",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        2416
      ],
      "id": "e19e42d9-5cd5-47c3-9527-2c5d74832967",
      "name": "Gmail Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        2608
      ],
      "id": "8e294b11-10bc-4d5e-8d4c-b89a9f33eeeb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $json.app }}/{{ $json.table }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer pat2Y1dPXXzIPX5Ij.dbdbf8f6cd637a63f2a2c24463f6c5b8f37a5485d3563d99633ba305b53d6766"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        2512
      ],
      "id": "f52fa59b-9d2c-4351-93a9-fdd0f5c5d4f6",
      "name": "get airtable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $json.app }}/{{ $json.table }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pat2Y1dPXXzIPX5Ij.dbdbf8f6cd637a63f2a2c24463f6c5b8f37a5485d3563d99633ba305b53d6766"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"Name\": \"{{ $('Filter').item.json.name }}\",\n        \"Email\": \"{{ $('Filter').item.json.Email }}\",\n        \"overall score\": {{ $('Filter').item.json.overall_score }},\n        \"job titel\":  \"{{ $('Filter').item.json['job titel'] }}\",\n        \"company name\":\"{{ $('Filter').item.json['company name'] }}\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        1648
      ],
      "id": "1bd7aec5-aa5f-4711-98d6-531296a5ab06",
      "name": "update in airtable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b3abf77-ab52-47b7-ad4b-969be217b1b9",
              "name": "app",
              "value": "app2czwL9b2Jqvuyf",
              "type": "string"
            },
            {
              "id": "3be1a250-f277-4b44-8837-4fac236024f1",
              "name": "table",
              "value": "tblHyVjnis4Ni1g3e",
              "type": "string"
            },
            {
              "id": "0902a466-b1d3-42d1-93fd-d35fc7fe12ed",
              "name": "view",
              "value": "viw01SrMjCEmrFich",
              "type": "string"
            },
            {
              "id": "7d8a16a7-e4eb-4dbc-b784-566d490584f1",
              "name": "api",
              "value": "pat2Y1dPXXzIPX5Ij.dbdbf8f6cd637a63f2a2c24463f6c5b8f37a5485d3563d99633ba305b53d6766",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        2512
      ],
      "id": "0db59cfa-6843-4748-974e-8495c906d91c",
      "name": "airtable shortcut"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b3abf77-ab52-47b7-ad4b-969be217b1b9",
              "name": "app",
              "value": "app2czwL9b2Jqvuyf",
              "type": "string"
            },
            {
              "id": "3be1a250-f277-4b44-8837-4fac236024f1",
              "name": "table",
              "value": "tblHyVjnis4Ni1g3e",
              "type": "string"
            },
            {
              "id": "0902a466-b1d3-42d1-93fd-d35fc7fe12ed",
              "name": "view",
              "value": "viw01SrMjCEmrFich",
              "type": "string"
            },
            {
              "id": "7d8a16a7-e4eb-4dbc-b784-566d490584f1",
              "name": "api",
              "value": "pat2Y1dPXXzIPX5Ij.dbdbf8f6cd637a63f2a2c24463f6c5b8f37a5485d3563d99633ba305b53d6766",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        1648
      ],
      "id": "7974c9f2-e6be-4f8c-a373-dbfe697f45b2",
      "name": "airtable shortcut1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $json.app }}/{{ $json.table }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pat2Y1dPXXzIPX5Ij.dbdbf8f6cd637a63f2a2c24463f6c5b8f37a5485d3563d99633ba305b53d6766"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"Name\": \"{{ $('Filter').item.json.name }}\",\n        \"Email\": \"{{ $('Filter').item.json.Email }}\",\n        \"overall score\": {{ $('Filter').item.json.overall_score }},\n        \"job titel\": \"{{ $('Filter').item.json['job titel'] }}\",\n        \"company name\": \"{{ $('Filter').item.json['company name'] }}\",\n        \"Initial email sent?\": \"\",\n        \"Follow-up1 sent?\": \"\",\n        \"Follow-up2 sent?\": \"\",\n        \"Replied?\": \"\",\n        \"Positive reply\": \"\",\n        \"Negative reply\": \"\"\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        1648
      ],
      "id": "8ecc4853-1cc3-4047-8309-164956b632e8",
      "name": "latest update"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "launce linkdin  agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "launce google map agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract S3 URL": {
      "main": [
        [
          {
            "node": "download linkdin data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get  linkdin data": {
      "main": [
        [
          {
            "node": "extract S3 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 url": {
      "main": [
        [
          {
            "node": "download google map data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "launce google map agent": {
      "main": [
        [
          {
            "node": "get google maps data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "launce linkdin  agent": {
      "main": [
        [
          {
            "node": "get  linkdin data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download linkdin data": {
      "main": [
        [
          {
            "node": "Enrich Leads by Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get google maps data": {
      "main": [
        [
          {
            "node": "S3 url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download google map data": {
      "main": [
        [
          {
            "node": "Enrich Leads by Company",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Enrich Leads by Company": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intelligent Lead Scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Intelligent Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intelligent Lead Scoring": {
      "main": [
        [
          {
            "node": "scored data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Intelligent Lead Scoring",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "scored data": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "airtable shortcut1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "personalised email sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "personalised email sender",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "send intial email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "personalised email sender": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send intial email": {
      "main": [
        [
          {
            "node": "latest update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "airtable shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "airtable shortcut",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update in airtable": {
      "main": [
        [
          {
            "node": "personalised email sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "airtable shortcut": {
      "main": [
        [
          {
            "node": "get airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "airtable shortcut1": {
      "main": [
        [
          {
            "node": "update in airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Intelligent Lead Scoring": [
      {
        "json": {
          "output": {
            "Name": "Daniella White",
            "overall_score": 91,
            "decision_maker_score": 88,
            "company_fit_score": 94,
            "Email": "daniella@edwardsandtowers.com",
            "job titel": "Recruitment Manager",
            "company name": "Edwards and Towers"
          }
        }
      },
      {
        "json": {
          "output": {
            "Name": "Loai Al Fakir",
            "overall_score": 95,
            "decision_maker_score": 98,
            "company_fit_score": 92,
            "Email": "loai@providentestate.com",
            "job titel": "CEO and Founder",
            "company name": "Provident Estate"
          }
        }
      },
      {
        "json": {
          "output": {
            "Name": "Laura Roxana Garcia",
            "overall_score": 92,
            "decision_maker_score": 85,
            "company_fit_score": 95,
            "Email": "lgarcia@onesothebysrealty.com",
            "job titel": "Luxury Real Estate Specialist",
            "company name": "ONE Sotheby's International Realty"
          }
        }
      },
      {
        "json": {
          "output": {
            "Name": "Monica Finkelstein, J.D.",
            "overall_score": 92,
            "decision_maker_score": 90,
            "company_fit_score": 94,
            "Email": "monica.finkelstein@compass.com",
            "job titel": "Real Estate Associate",
            "company name": "Compass"
          }
        }
      },
      {
        "json": {
          "output": {
            "Name": "Ron Capp",
            "overall_score": 87,
            "decision_maker_score": 90,
            "company_fit_score": 85,
            "Email": "ron@diamanterealty.com",
            "job titel": "Real Estate Broker",
            "company name": "Diamante Realty"
          }
        }
      }
    ]
  },
  "versionId": "d443f296-9fdd-4b2a-ae87-d6285a59ed59",
  "triggerCount": 0,
  "tags": []
}
